.weather {
  max-width: 50rem;
  border-radius: 25px;
  background: white;
}
.weather .current-day {
  border-radius: 25px;
  background: url(./images/Elephant\ 03.jpg);
  background-size: 39rem;
  background-position: 100% top;
  padding-bottom: 2rem;
}
@media (max-width: 800px) {
  .weather {
    max-width: 35rem;
  }
}
.location {
  padding: 0.3rem 1.2rem 0 1rem;
  background: rgba(0, 0, 0, 0.2);
  margin: 1rem;
  color: white;
  border-radius: 15px;
}
.units {
  background: rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  color: white;
  border-radius: 15px;
  padding: 0.5rem 0.7rem;
}
.units a {
  text-decoration: none;
  color: white;
}
.units a:hover {
  color: black;
}
.weather-icon {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 0 0.3rem;
  margin: 1rem 0;
}
.location p {
  font-size: 0.5em;
  margin: 0;
}
.location h6 {
  font-size: 0.8em;
}
.location i,
.search i {
  font-size: 1.2em;
  color: white;
}
.current-day-status {
  color: white;
}
.current-day-status h1 {
  font-size: 4.5em;
  margin-bottom: 0;
}
.current-day-units {
  font-size: 40px;
}
.climate-status {
  font-size: 1.4em;
  margin-bottom: 0;
}
.search input,
.search input:focus,
.search button {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  color: white;
  border-radius: 15px;
}
.search input::placeholder {
  color: white;
}

.additional-info {
  color: white;
}
.additional-info ul {
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
}
.additional-info li {
  font-size: 1em;
  margin: 0 1rem;
}
